:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --navbar-l-size: 1.125rem;
    --navbar-m-size: 1rem;
    --heading-l-size: 2.25rem;
    --heading-m-size: 1.625rem;
    --heading-s-size: 1.125rem;
    --subheading-size: 1.125rem;
    --paragraph-size: 1.25rem;
    --fine-prints-size: .875rem;

    --white-color: #ffffff;
    --green-color: #1abc9c;
    --blue-color: #2c3e50;
    --light-blue-color: #3a546d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 5rem 0;
    text-align: center;
    font-size: var(--paragraph-size);
}

ul , menu {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    color: inherit;
}

h1 {
    font-size: var(--heading-l-size);
}

h2 {
    font-size: var(--heading-m-size);
}

h3 {
    font-size: var(--heading-s-size);
}

/* Separator */
.separator {
    font-size: 1.25rem;
}

.separator .line {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
}

/* Visual buttons */
.btn.btn-white {
    color: var(--white-color);
    border-color: var(--white-color);
}

.btn.btn-white:hover {
    color: var(--green-color);
    background-color: var(--white-color);
    box-shadow: 0 0 .5em #00000080;
}

.btn.btn-white:active {
    border-color: #00000080;
    box-shadow: inset 0 0 .5em #00000080;
}

.btn.btn-green {
    color: var(--white-color);
    border-color: var(--green-color);
    background-color: var(--green-color);
}

.btn.btn-green:hover {
    box-shadow: 0 0 .5em #00000080;
}

.btn.btn-green:active {
    color: var(--white-color);
    background-color: var(--green-color);
    border-color: #00000080;
    box-shadow: inset 0 0 .5em #00000080;
}

/* Link button */
.link-button {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    color: var(--white-color);
}

.link-button:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
    box-shadow: 0 0 .25em #00000080;
}

.link-button:active {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: inset 0 0 .25em #00000080;
}

.link-button > * {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
}

/* Inputs */
.input-full-width {
    width: 100%;
    position: relative;
}

.input-full-width input , .input-full-width textarea {
    width: inherit;
    appearance: none;
    border: 0;
}

.input-full-width input:hover , .input-full-width textarea:hover {
    box-shadow: 0 0 .25em #00000080;
}

.input-full-width input:focus , .input-full-width textarea:focus {
    box-shadow: 0 0 .25em #00000080;
}

.input-full-width label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform .1s ease-out;
}

.input-full-width input:focus + label , .input-full-width input:user-valid + label , .input-full-width input:user-invalid + label , 
.input-full-width textarea:focus + label , .input-full-width textarea:user-valid + label , .input-full-width textarea:user-invalid + label {
    transform: scale(.75) translate(0 , -85%);
    transform-origin: .5em center;
    left: 0;
    font-weight: 700;
    background-color: var(--white-color);
}

.input-full-width input:user-valid + label::after {
    content: '\2713';
    color: #00ff00;
}

.input-full-width input:user-invalid + label::after {
    content: '\2717';
    color: #ff0000;
}


/* HEADER */
/* Top navigation bar */
#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: var(--navbar-l-size);
    font-weight: 700;
}

#top-bar menu {
    font-size: var(--navbar-m-size);
}

/* Jumbo */
#jumbo {
    color: var(--white-color);
    background-color: var(--green-color);
}

#jumbo img {
    width: 15rem;
}

#jumbo .line {
    background-color: var(--white-color);
}

#jumbo strong {
    font-size: var(--subheading-size);
    font-weight: 600;
}


/* MAIN */
main section:nth-child(odd) {
    color: var(--blue-color);
    background-color: var(--white-color);
}

main section:nth-child(even) {
    color: var(--white-color);
    background-color: var(--green-color);
}

main section:nth-child(odd) .line {
    background-color: var(--blue-color);
}

main section:nth-child(even) .line {
    background-color: var(--white-color);
}

/* Portfolio */
#portfolio img {
    width: 100%;
    border-radius: 1rem;
}

/* FOOTER */
footer {
    color: var(--white-color);
    background-color: var(--blue-color);
    text-align: center;
    padding-bottom: 2.5rem;
}

/* Info */
#info {
    background-color: var(--light-blue-color);
}

#info .inline-link {
    color: var(--green-color);
}

#info .inline-link:hover {
    color: var(--white-color);
}

/* Copyright */
footer small {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: var(--fine-prints-size);
}



@media all and (min-width: 992px) {
    :root {
        --navbar-l-size: 1.75rem;
        --heading-l-size: 3.875rem;
        --heading-m-size: 3.125rem;
        --heading-s-size: 1.5rem;
        --subheading-size: 1.625rem;
    }
}