:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --navbar-l-size: 1.75rem;
    --navbar-m-size: 1rem;
    --heading-xl-size: 4rem;
    --heading-l-size: 3.25rem;
    --heading-m-size: 1.625rem;
    --paragraph-m-size: 1.375rem;
    --paragraph-s-size: 1.25rem;
    --fine-prints-size: 1.25rem;

    --white-color: #ffffff;
    --green-color: #1abc9c;
    --blue-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , menu {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* HEADER */
/* Top navigation bar */
#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: var(--navbar-l-size);
    font-weight: 700;
}

#top-bar menu {
    font-size: var(--navbar-m-size);
}